body {
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background: #fdf6ec;
}

.calculadora {
  background: white;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 0 10px #ccc;
  width: 220px;
}

.pantalla {
  background: #FFF0DA;
  color: #3A3A3A;
  font-size: 2rem;
  text-align: right;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border-radius: 4px;
  height: 2.5rem;
  overflow-x: hidden;
}

button {
  font-size: 1.2rem;
  padding: 1.15rem;
  border: none;
  border-radius: 1px;
  background: #FFDAC1;
  cursor: pointer;
  transition: background 0.2s;
  width: 25%;
}

button:hover {
  background: #c0c0c0;
}

.equal-button {
  font-size: 1.2rem;  
  padding: 1.15rem;
  border: none;
  border-radius: 1px;
  /* color: black; */
  /* background: #FFDAC1; */
  cursor: pointer;
  width: 50%;
}
